<!DOCTYPE html> <html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="/static/css/portfolio-item.css" rel="stylesheet">
    <link href="/static/css/slider.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">

    <title>Business Network Service</title>

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/d3/d3.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script>
        function urlGen(f) {
            var
        }
    </script>

    <!--script src="/static/modules/highcharts-6.0.3/code/js/highcharts.js"></script>
    <script src="/static/modules/highcharts-6.0.3/code/js/modules/exporting.js"></script-->
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/static/images/logo_header.png" class="pr-10">&nbsp;&nbsp;&nbsp;&nbsp;
            Business Network Service
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">BNS
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Store</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <!-- left layout -->
        <div class="col-4">
            <div class="row h-15"></div>
            <div class="row">
                <div class="col-12">
                    <form onSubmit="urlGen(this)">
                        <div class="input-group form-group">
                            <input type="text" class="form-control" name="query" id="query" placeholder="Search for..." value='{{query.strip()}}'/>
                            <span class="input-group-btn"><button class="btn btn-secondary" id="search_button" type="button" onclick="location.href='/?query='+document.getElementById('query').value;">Search!</button></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <input type="range" name="range1" min="1" max="100" value="50" class="slider" id="range1">
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-outline-primary btn-sm disabled col-12">
                        <center>연관매출 : <span id="value1"></span>%</center>
                    </button>
                </div>
                <script>change_bar_value("range1", "value1");</script>
            </div>
            <div class="row h-5"></div>
            <div class="row">
                <div class="col-8">
                    <input type="range" name="range2" min="1" max="100" value="50" class="slider" id="range2">
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-outline-danger btn-sm disabled col-12">
                        <center>성향 : <span id="value2"></span>%</center>
                    </button>
                </div>
                <script>change_bar_value("range2", "value2");</script>
            </div>
            <div class="row h-5"></div>
            <div class="row">
                <div class="col-8">
                    <input type="range" name="range3" min="1" max="100" value="50" class="slider" id="range3">
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-outline-dark btn-sm disabled col-12">
                        <center>1촌 : <span id="value3"></span>%</center>
                    </button>
                </div>
                <script>change_bar_value("range3", "value3");</script>
            </div>
        </div>

        <!-- right layout -->
        <div class="col-8" style="background-color:blue">
        <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div> <!-- <div class="container-fluid"> -->
</body>
</html>
