<!DOCTYPE html> <html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="/static/css/portfolio-item.css" rel="stylesheet">
    <link href="/static/modules/highcharts-6.0.3/code/css/highcharts.css" rel="stylesheet">
    <link href="/static/css/slider.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">

    <title>Business Network Service</title>

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/d3/d3.min.js"></script>
    <script>
        function checkAndMove() {
            url = "/bns?";
            url += "behaviors=" + unescape($("#behaviors").val());
            url += "&tendencies=" + $("#tendencies").val();
            url += "&neighbors=" + $("#neighbors").val();
            url += "&shop_to_shop=" + $("#shop_to_shop").val();
            url += "&shop_to_topic=" + $("#shop_to_topic").val();
            url += "&neighbor_weight=" + $("#neighbor_weight").val();

            window.location = url;
        }

        function change_bar_value(barId, valueId) {
            var slider = document.getElementById(barId);
            var output = document.getElementById(valueId);
            output.innerHTML = slider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
                output.innerHTML = this.value;
            }
        }
    </script>

    <script src="/static/modules/highcharts-6.0.3/code/js/highcharts.js"></script>
    <script src="/static/modules/highcharts-6.0.3/code/js/modules/exporting.js"></script>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/bns">
            <img src="/static/images/logo_header.png">&nbsp;
            <img src="/static/images/HTG_logo-crop.png">&nbsp;&nbsp;&nbsp;&nbsp;
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Business Network Service - Customer Simulator
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!--li class="nav-item">
                    <a class="nav-link" href="#">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Store</a>
                </li-->
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container-fluid">
    <br/>
    <div class="row" style="padding:15px 0 15px;">
        <!-- left layout -->
        <div class="col-12">
            <form name="bnsform" class="form" onSubmit="checkAndMove();">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-8">
                                <div class="input-group form-group">
                                    <span class="input-group-addon" id="sizing-addon1"><b>행위</b></span>
                                    <input type="text" class="form-control form-control-lg" name="behaviors" id="behaviors" placeholder="방문 가맹점 (ex) {'커피빈강남대로점': 10, '빈로이': 20}" value='{{behaviors_json|safe}}'/>
                                    <!--span class="input-group-btn"><button class="btn btn-secondary" id="search_button" type="button" onclick="location.href='/?query='+document.getElementById('query').value;">Search!</button></span-->
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-8">
                                        <span class="align-middle">
                                            <input type="range" name="shop_to_shop" min="0" max="100" value="{{weights.shop_to_shop}}" class="slider" id="shop_to_shop">
                                        </span>
                                    </div>
                                    <div class="col-4">
                                        <button type="button" class="btn btn-primary disabled col-12">
                                            <center>연관매출 : <span id="value1"></span>%</center>
                                        </button>
                                    </div>
                                    <script>change_bar_value("shop_to_shop", "value1");</script>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="input-group form-group">
                                    <span class="input-group-addon" id="sizing-addon2"><b>태그</b></span>
                                    <input type="text" class="form-control form-control-lg" name="tendencies" id="tendencies" placeholder="태그 (ex) ['커피', '점심', '직장인', '저가']" value='{{tendencies_json|safe}}'/>
                                    <!--span class="input-group-btn"><button class="btn btn-secondary" id="search_button" type="button" onclick="location.href='/?query='+document.getElementById('query').value;">Search!</button></span-->
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-8">
                    <span class="align-middle">
                        <input type="range" name="shop_to_topic" min="0" max="100" value="{{weights.shop_to_topic}}" class="slider" id="shop_to_topic">
                    </span>
                                    </div>
                                    <div class="col-4">
                                        <button type="button" class="btn btn-danger disabled col-12">
                                            <center>연관태그 : <span id="value2"></span>%</center>
                                        </button>
                                    </div>
                                    <script>change_bar_value("shop_to_topic", "value2");</script>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="input-group form-group">
                                    <span class="input-group-addon" id="sizing-addon3"><b>이웃</b></span>
                                    <input type="text" class="form-control form-control-lg" name="neighbors" id="neighbors" placeholder="1촌 (ex) {'커피빈강남대로점': ['봉피양', '빈로이', 'CJ올리브네트웍스역삼점']} " value='{{neighbors_json|safe}}'/>
                                    <!--span class="input-group-btn"><button class="btn btn-secondary" id="search_button" type="button" onclick="location.href='/?query='+document.getElementById('query').value;">Search!</button></span-->
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-8">
                    <span class="align-middle">
                        <input type="range" name="neighbor_weight" min="0" max="100" value="{{weights.neighbors}}" class="slider" id="neighbor_weight">
                    </span>
                                    </div>
                                    <div class="col-4">
                                        <button type="button" class="btn btn-dark disabled col-12">
                                            <center>1촌 : <span id="value3"></span>%</center>
                                        </button>
                                    </div>
                                    <script>change_bar_value("neighbor_weight", "value3");</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 15px">
                    <div class="col-12">
                        <center><button class="btn btn-dark btn-large" style="width:400px; height:50px" id="search_button" type="button" onclick="checkAndMove();"><b>Recommend</b></button></center>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr style="padding-bottom:15px"/>

    <!-- result layout -->
    <div class="row" style="padding:15px 0 15px;">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-light" style="background-color:#73C3B4">
                    <b>고객에게 추천될 가맹점</b>
                </div>
                <div class="card-body">
                    <div id="relation-graph" style="width:100%; height:400px;"></div>
                    <script>
                        Highcharts.chart('relation-graph', {
    chart: {
        type: 'column'
    },
    title: {
        text: '고객에게 추천될 가맹점'
    },
    subtitle: {
        text: ' from HyundaiCard transaction data'
    },
    xAxis: {
        categories: {{result.shopname_list | safe}},
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: '연관비율(%)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: '연관비율',
        data: {{result.shopweight_list}}
    }]
});
                            </script>
                </div> <!-- div class="card-body"-->
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-light">
                    <b>고객 성향</b>
                </div>
                <div class="card-body">
                    <div id="attribute-graph" style="width: 100%; height: 400px;"></div>
                </div>
                <script>
                            Highcharts.chart('attribute-graph', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '2017-11-01 ~ 2017-11-22 선호 태그'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: {{result.topic_list|safe}}
    }]
});
                        </script>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:15px">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-light">
                    <b>BNS Network</b>
                </div>
                <div class="card-body">
                    {{result.integrated_network|safe}}
                </div> <!-- div class="card-body"-->
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-light">
                    <b>HTG Zone</b>
                </div>
                <div class="card-body">
                    {{result.shop_location|safe}}
                </div> <!-- div class="card-body"-->
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:15px">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-light">
                    <b>행위 네트워크</b>
                </div>
                <div class="card-body">
                    {{result.shop_to_shop_network|safe}}
                </div> <!-- div class="card-body"-->
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-light">
                    <b>태그 네트워크</b>
                </div>
                <div class="card-body">
                    {{result.shop_to_topic_network|safe}}
                </div> <!-- div class="card-body"-->
            </div>
        </div>
    </div>
</div> <!-- <div class="container-fluid"> -->
</body>
</html>
