<!DOCTYPE html> <html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="/static/css/portfolio-item.css" rel="stylesheet">
    <link href="/static/modules/highcharts-6.0.3/code/css/highcharts.css" rel="stylesheet">
    <link href="/static/css/slider.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">

    <title>Business Network Service</title>

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/d3/d3.min.js"></script>
    <script>
        function checkAndMove() {
            url = "/bns?";
            url += "query=" + $("#query").val();
            url += "&relation=" + $("#range1").val();
            url += "&attribute=" + $("#range2").val();
            url += "&following=" + $("#range3").val();

            window.location = url;
        }

        function change_bar_value(barId, valueId) {
            var slider = document.getElementById(barId);
            var output = document.getElementById(valueId);
            output.innerHTML = slider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
                output.innerHTML = this.value;
            }
        }
    </script>

    <script src="/static/modules/highcharts-6.0.3/code/js/highcharts.js"></script>
    <script src="/static/modules/highcharts-6.0.3/code/js/modules/exporting.js"></script>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/bns">
            <img src="/static/images/logo_header.png" class="pr-10">&nbsp;&nbsp;&nbsp;&nbsp;
            Business Network Service
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Customer Simulator
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!--li class="nav-item">
                    <a class="nav-link" href="#">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Store</a>
                </li-->
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row" style="padding-top:30px; background-color:#E0E0E0">
        <!-- left layout -->
        <div class="col-12">
            <form name="bnsform" class="form" onSubmit="checkAndMove();">
                <div class="input-group form-group">
                    <input type="text" class="form-control form-control-lg" name="query" id="query" placeholder="store(가맹점,방문횟수), attr(성향,가중치), relation(from가맹점,to가맹점)" value='{{query.strip()}}'/>
                    <!--span class="input-group-btn"><button class="btn btn-secondary" id="search_button" type="button" onclick="location.href='/?query='+document.getElementById('query').value;">Search!</button></span-->
                    <span class="input-group-btn"><button class="btn btn-secondary btn-large" id="search_button" type="button" onclick="checkAndMove();">Recommend</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="row" style="padding-bottom:30px; background-color:#E0E0E0">
        <div class="col-4">
            <div class="row">
                <div class="col-8">
                <span class="align-middle">
                    <input type="range" name="range1" min="1" max="100" value="{{range1}}" class="slider" id="range1">
                </span>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-primary disabled col-12">
                        <center>연관매출 : <span id="value1"></span>%</center>
                    </button>
                </div>
                <script>change_bar_value("range1", "value1");</script>
            </div>
        </div>

        <!-- attribute button -->
        <div class="col-4">
            <div class="row">
                <div class="col-8">
                    <span class="align-middle">
                        <input type="range" name="range2" min="1" max="100" value="{{range2}}" class="slider" id="range2">
                    </span>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-danger disabled col-12">
                        <center>성향 : <span id="value2"></span>%</center>
                    </button>
                </div>
                <script>change_bar_value("range2", "value2");</script>
            </div>
        </div>

        <!-- following button -->
        <div class="col-4">
            <div class="row">
                <div class="col-8">
                    <span class="align-middle">
                        <input type="range" name="range3" min="1" max="100" value="{{range3}}" class="slider" id="range3">
                    </span>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-dark disabled col-12">
                        <center>1촌 : <span id="value3"></span>%</center>
                    </button>
                </div>
                <script>change_bar_value("range3", "value3");</script>
            </div>
        </div>
    </div>

    <!-- result layout -->

    <div class="row" style="padding:15px 0 15px">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-white bg-secondary">
                    연관 매장 비율
                </div>
                <div class="card-body">
                    <div id="relation-graph" style="width:100%; height:400px;"></div>
                    <script>
                        Highcharts.chart('relation-graph', {
    chart: {
        type: 'column'
    },
    title: {
        text: '연관 매장 비율'
    },
    subtitle: {
        text: ' from HyundaiCard transaction data'
    },
    xAxis: {
        categories: [
            '커피빈',
            'GS25',
            '스타벅스',
            '전광수커피',
            '이디야',
            '콩심 콩나물국밥',
            '놀부 부대찌게',
            '강남 CGV',
            '블루밍 가든',
            '지오다노'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: '연관비율(%)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: '연관비율',
        data: [32.8, 21.6, 13.2, 10.8, 8.5, 6.13, 5.34, 2.11, 1.09, 1.08]

    }]
});
                            </script>
                </div> <!-- div class="card-body"-->
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header text-white bg-secondary">
                    성향 비율
                </div>
                <div class="card-body">
                    <div id="attribute-graph" style="width: 100%; height: 400px;"></div>
                </div>
                <script>
                            Highcharts.chart('attribute-graph', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '2017-11-01 ~ 2017-11-22 성향 비율'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: '이야기하기 좋은',
            y: 56.33
        }, {
            name: '편안한',
            y: 24.03,
            sliced: true,
            selected: true
        }, {
            name: '가성비 좋은',
            y: 10.38
        }, {
            name: '커피맛 좋은',
            y: 4.77
        }, {
            name: '더러운',
            y: 0.91
        }, {
            name: '복잡한',
            y: 0.2
        }]
    }]
});
                        </script>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:15px">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-white bg-secondary">
                    가맹점간 연관 매출 Network
                </div>
                <div class="card-body">
                    <iframe width="100%" height="400" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;viz=GVIZ&amp;t=GRAPH&amp;gc=true&amp;gd=true&amp;sdb=1&amp;rmax=100000&amp;q=select+col0%2C+col1%2C+col2+from+1T_eyGaARhB3u4WpCSe2s6oFI7ubQtSUKzczRRYLk&amp;qrs=+where+col0+%3E%3D+&amp;qre=+and+col0+%3C%3D+&amp;qe=&amp;uiversion=2&amp;state=%7B%22ps%22%3A%221_4_w_x_0_-11_13_3_o_-14_5_-15_-y_2_h_-2_6_-1d_0_7_1n_-3_8_-1x_6_9_14_-7_1_-s_7_%22%2C%22cx%22%3A18.145597398765894%2C%22cy%22%3A-2.738958097926927%2C%22sw%22%3A553.1471024397231%2C%22sh%22%3A283.97442920096785%2C%22z%22%3A1.0009649160949998%7D&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=600&amp;height=400"></iframe>
                </div> <!-- div class="card-body"-->
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header text-white bg-secondary">
                    가맹점간 연관 매출 Network
                </div>
                <div class="card-body">
                    <iframe width="100%" height="400" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;viz=GVIZ&amp;t=GRAPH&amp;gc=true&amp;gd=true&amp;sdb=1&amp;rmax=100000&amp;q=select+col0%2C+col1%2C+col2+from+1T_eyGaARhB3u4WpCSe2s6oFI7ubQtSUKzczRRYLk&amp;qrs=+where+col0+%3E%3D+&amp;qre=+and+col0+%3C%3D+&amp;qe=&amp;uiversion=2&amp;state=%7B%22ps%22%3A%221_4_w_x_0_-11_13_3_o_-14_5_-15_-y_2_h_-2_6_-1d_0_7_1n_-3_8_-1x_6_9_14_-7_1_-s_7_%22%2C%22cx%22%3A18.145597398765894%2C%22cy%22%3A-2.738958097926927%2C%22sw%22%3A553.1471024397231%2C%22sh%22%3A283.97442920096785%2C%22z%22%3A1.0009649160949998%7D&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=600&amp;height=400"></iframe>
                </div> <!-- div class="card-body"-->
            </div>
        </div>
    </div>
</div> <!-- <div class="container-fluid"> -->
</body>
</html>
